@use "colors";
@use "fonts";

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body {
    background-image: url("../img/app-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    padding: 5px 10px;
    display: grid;
    align-items: center;

    font-family: fonts.$ff-primary;
}

button {
    display: inline-block;
    cursor: pointer;
    font-family: fonts.$ff-primary;
}

// General Styling
.app {
    &__inner {
        text-align: center;
        margin: 0 auto;
        width: 50%;
        padding: 2rem 3rem;
        border-radius: 8px;
        box-shadow: (#777 3px 3px 4px);
        opacity: 0.9;

        background: colors.$clr-app-bg;
    }
    &__title {
        text-align: center;
        margin-bottom: 1rem;

        font-family: fonts.$ff-title;
        font-size: 4rem;
        color: #333;
    }
    &__search-btn {
        padding: 0.5rem 0.8rem;
        display: flex;
        margin: 0 auto;
        margin-bottom: 2rem;
        border: none;
        border-radius: 4px;

        font-size: 1.5rem;
        background: colors.$clr-search-btn;
        box-shadow: (#777 1px 1px 2px);

        transition: 0.2s ease-in-out background;

        &:hover {
            background: colors.$clr-search-btn-hover;
        }
    }
    &__result {
        font-size: 1.8rem;
        color: colors.$clr-result;
    }
}

// Styling select

.select {
    &--show {
        display: none;
    }
    &-type {
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 1rem;
            border: 1px solid #aaa;
            border-radius: 6px;
            margin-bottom: 1rem;
            cursor: pointer;
            background: colors.$clr-choose;
            & i {
                font-size: 1.2rem;
                font-weight: 700;
                color: #333;
                transition: 0.4s transform ease-in-out;
            }
            .arrow-rotate {
                transform: rotate(180deg);
            }
        }
        &__title {
            font-family: fonts.$ff-primary;
            font-size: 1.5rem;
            margin-right: 0.8rem;
        }

        &__item {
            width: 85%;
            margin: 0 auto;
            display: flex;

            align-items: center;

            padding: 0.5rem;
            border: 1px solid #aaa;
            border-radius: 6px;
            margin-bottom: 1rem;

            font-family: fonts.$ff-primary;
            font-size: 1.3rem;
            background: colors.$clr-choose;

            cursor: pointer;
            transition: 0.2s background ease-in-out;
            & i {
                margin-right: 0.5rem;
            }
            & p {
                text-align: center;
            }
            &:hover {
                background: darken(colors.$clr-choose, 10%);
            }
        }
    }
}

// Styling select icons

.fa {
    &-people-arrows {
        color: #5095f0;
    }
    &-couch {
        color: rgb(102, 79, 49);
    }
    &-music {
        color: #e45858;
    }
    &-pencil-ruler {
        color: #489672;
    }
    &-umbrella-beach {
        color: #f3f724de;
    }
    &-hand-holding-heart {
        color: #e71616;
    }
    &-user-graduate {
        color: #051ceb;
    }
}
