*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  background-image: url("../img/app-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 5px 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
}

button {
  display: inline-block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.app__inner {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 2rem 3rem;
  border-radius: 8px;
  -webkit-box-shadow: #777 3px 3px 4px;
          box-shadow: #777 3px 3px 4px;
  opacity: 0.9;
  background: -webkit-gradient(linear, left top, right top, from(#d8d8f1), color-stop(#ebe2f0), to(#f7e9f2));
  background: linear-gradient(90deg, #d8d8f1, #ebe2f0, #f7e9f2);
}
.app__title {
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Irish Grover", cursive;
  font-size: 4rem;
  color: #333;
}
.app__search-btn {
  padding: 0.5rem 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  background: #bbb;
  -webkit-box-shadow: #777 1px 1px 2px;
          box-shadow: #777 1px 1px 2px;
  -webkit-transition: 0.2s ease-in-out background;
  transition: 0.2s ease-in-out background;
}
.app__search-btn:hover {
  background: #f3d6e9;
}
.app__result {
  font-size: 1.8rem;
  color: #444;
}

.select--show {
  display: none;
}
.select-type__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  margin-bottom: 1rem;
  cursor: pointer;
  background: #e6cef1;
}
.select-type__top i {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  -webkit-transition: 0.4s -webkit-transform ease-in-out;
  transition: 0.4s -webkit-transform ease-in-out;
  transition: 0.4s transform ease-in-out;
  transition: 0.4s transform ease-in-out, 0.4s -webkit-transform ease-in-out;
}
.select-type__top .arrow-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.select-type__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-right: 0.8rem;
}
.select-type__item {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  background: #e6cef1;
  cursor: pointer;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.select-type__item i {
  margin-right: 0.5rem;
}
.select-type__item p {
  text-align: center;
}
.select-type__item:hover {
  background: #d2a6e6;
}

.fa-people-arrows {
  color: #5095f0;
}
.fa-couch {
  color: #664f31;
}
.fa-music {
  color: #e45858;
}
.fa-pencil-ruler {
  color: #489672;
}
.fa-umbrella-beach {
  color: #f3f724de;
}
.fa-hand-holding-heart {
  color: #e71616;
}
.fa-user-graduate {
  color: #051ceb;
}